body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f2027;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #111;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #203a43, #2c5364);
}

button {
    padding: 12px 20px;
    background: #00c6ff;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #1e2a38;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background: #111;
    text-align: center;
    padding: 20px;
}